/* Begin root code */

:root {
  --primary-color: #fcbf49;
  --text-color: #111;
  --accent-color-light: #fff;
  --accent-color-dark: #525252;
  --header-font-family: "Staatliches", serif;
  --body-font-family: "JetBrains Mono", monospace;
  --h1-font-size: 2rem;
  --h2-font-size: 1.75rem;
  --h3-font-size: 1.5rem;
  --h4-font-size: 1.25rem;
  --body-font-size: 1rem;
}

/* End root code */

/* Begin global code */

* *::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  background-color: var(--primary-color);
  color: var(--text-color);
  font-family: var(--body-font-family);
  margin: 0;
  padding: 0;
  border: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
}

/* End global code */

/* Begin local code */

/* Begin list code */

.list-container {
  max-height: 50%;
  width: 100%;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
}

.list-header {
  font-family: var(--header-font-family);
  font-size: calc(var(--h1-font-size) + 1.5rem);
  color: var(--text-color);
  margin: auto;
  text-decoration: underline;
}

ul {
  list-style: none;
  margin: auto;
  max-width: 75%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

/* End list code */

/* Begin button code */

.button-class {
  font-family: var(--body-font-family);
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 20px 45px;
  margin: 20px 45px;
  border-radius: 3px;
  border: 0.5px solid var(--accent-color-dark);
  box-shadow: 4px 4px 3px var(--text-color);
}

.button-class:hover {
  background-color: var(--accent-color-light);
}

/* End button code */

/* Begin modal code */

#modal-container {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  
  /* To show modal above other content */
  z-index: 999; 
  
  /* To allow scrolling if the screen is not high enough */
  overflow: auto; 
  
  /* Centers the modal */
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: left;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}

.modal h1 {
  margin-top: 0;
}

.modal p {
  margin-bottom: 0;
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  /* CSS for modal container - add your own desired CSS styles here */
  display: block;
}

/* End modal code */

/* Begin media queries */

@media screen and (max-width: 1350px) {
  .list-container{
    display: flex;
    flex-flow: column nowrap;
    margin: 100px auto;
    max-width: 75%;
    height: 100%;
  }
  
  ul {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding: 50px 100px;
    margin-top: 40px;
  }
  
  .button-class {
    margin: 150px 0;
  }
}

@media screen and (max-width: 768px) {
  .list-container{
    display: flex;
    flex-flow: column nowrap;
    margin: 100px auto;
    max-width: 75%;
    height: 100%;
  }
  
  ul {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 50px 100px;
    margin: auto;
    margin-top: 40px;
    
  }
  
  .button-class {
    margin: 150px 0;
  }
}

/* End media queries */

/* End local code */