{
    "env": {
        "es6": true,
        "browser": true
    },
    "extends": [
        "eslint:recommended"
    ],
    "rules": {
        "quotes": [
            "error",
            "single"
        ],
        // Turns on autofix for all providers including ESLint
        "editor.codeActionsOnSave": {
            "source.fixAll": true
        }
    }
}